html{
    --font-regular: 'roboto-regular',sans-serif;
    --font-bold: 'roboto-bold',sans-serif;
    --font-italic: 'roboto-italic',sans-serif;
    --font-design: 'alice',sans-serif;
    
    --color-text: #fff;
    --color-text-dark:#a0a0a0;
    --color-bg: #181c23;
    --color-card: #292e38;
    --color-shadow: rgba(0, 0, 0, 0.7);
    --color-accent: #dd163b;
}