.swiper-button-prev {
    color: var(--color-text);
    &.swiper-button-disabled {
        display: none;
    }
}

.swiper-button-next {
    color: var(--color-text);
    &.swiper-button-disabled {
        display: none;
    }
}